body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f9f9f9;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    justify-content: center;
}

.gallery-item {
    width: 360px;
    height: 200px;
    position: relative;
    overflow: visible;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease;
    transform-origin: center;
    position: relative;
    z-index: 1;
}

.gallery-image:hover {
    transform: scale(1.044);
    z-index: 2;
}

.basicLightbox--visible .basicLightbox__placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.basicLightbox--visible {
    background: rgba(46, 47, 66, 0.8);
}